@using DailyDairy.APIService
@using DailyDairy.Data;
@using ShareModel;
@inject IAppState AppState
@inject ProductService productService
@rendermode InteractiveServer
@using MudBlazor
@inject IJSRuntime JSRuntime
@page "/addproduct"
<p>jbhgb</p>